<!DOCTYPE html>


<body style="background-color:powderblue;">
<br>
<br>

<div class="col-md-1"></div>

<div class="form-group">
    <div class="col-sm-2">
    <form method="post" action="name_choice">
    <input type="text"  class="form-control" placeholder="Enter first name here." name="fname">
    <br>
    <input type="submit">
    </form>
   
</div>
  </body>
</html>

