<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Christi Richmond</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 14px;
    text-align: center;

</style>


  <body>
    <div class = "center-body"> 
        <%= yield %>
    </div>
  </body>

<footer>
<div class="footer">
  <p>© Christi Richmond, 2018</p>
</div>

</footer>

</html>

