<!doctype html>
<div class="jumbotron text-center">
  <h1>Student Login</h1>
</div>

<body style="background-color:powderblue;">
<center>
<h5>
Welcome, <% full_name = fname(fname.capitalize)
    if full_name == nil
        full_name = "Invalid name. Please try again." 
    end %>

<%= full_name %>!

<br>
<%= name_pic = fname(fname_pic) %>
<%= name_pic %>

<br>
<br>
Have a nice day!
</h5>
<br>
<a href='//localhost:4567'>Enter Another Name</a>
<br><br><br><br><br>
</center>
</body>
</html>
